.app {
  text-align: center;
}

.wrap {
  position: relative;
  width: 900px;
  height: 600px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #cccccc;
  margin: auto;
}

.inner {
  position: relative;

  background-color: #74F0ED;
  width: 100%;
  height: 100%;

  transform: translate(-10px, 30px);
}
