html, body {
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex: 1;
  width: inherit;
}

.app {
  display: flex;
  flex: 1;
  align-items: center;
}

.actions {
  width: 280px;
  height: 100%;
}

.action {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  cursor: pointer;
  transition: background-color .2s ease;

  &:hover {
    background-color: #f3f3f3;
  }
}

.wrap {
  display: flex;
  flex: 1;

  width: 100%;
  height: 100%;

  position: relative;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 0 10px #cccccc;
  margin: auto;
}

.inner {
  position: relative;

  background-color: #74F0ED;
  width: 100%;
  height: 100%;
}


.step {
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.step-text {
  margin: auto;
}